---
import { cn } from "../utils/cn";
const { slug, image, title, description } = Astro.props as {
  slug: string;
  image: string;
  title: string;
  description: string;
};
---

<li
  class={cn(
    "card",
    "hover:bg-slate-300 dark:hover:bg-slate-600 cursor-pointer w-full"
  )}
>
  <a class="space-y-2" href={`/blog/${slug}`}>
    <h2 class="font-normal" transition:name={`postTitle-${slug}`}>{title}</h2>
    <img
      transition:name={`postBannerImage-${slug}`}
      src={image}
      alt={title}
      class="w-full"
    />
    <p class="font-bold">{description}</p>
  </a>
</li>
